[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
flask-cors = "*"
flask-cas = "*"
gunicorn = "*"
beaker = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
